# DATABASE
DB_PASSWORD=AuthMotion_Password123!

# JWT
JWT_SECRET=TuClaveSecretaDeAlMenos32Caracteres!

# GOOGLE AUTH
GOOGLE_CLIENT_ID=tu-id-de-google.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu-secreto-de-google

# MAILTRAP / SMTP
MAILTRAP_USER=tu-usuario-mailtrap
MAILTRAP_PASS=tu-password-mailtrap